<li class="filters__item filters__item--acknowledge" data-mover="true">
    <button class="filters__button" type="button" ng-click="switchAcknowledgeFormShown()">
        <span class="visuallyhidden">Acknowledge</span>
        <i class="ico-thumbs-up"></i>
    </button>
</li>

<div ng-show="isAcknowledgeFormShown">
    <h4 id="acknowledgeModalLabel">Acknowlege</h4>
    <form>
        <div>
            <label for="author">Author :</label>
            <input type="text" id="acknowledge-author" ng-model="attrs.author">
        </div>
        <div>
            <label for="sticky">Sticky :</label>
            <input type="checkbox"
            id="acknowledge-sticky"
            ng-model="attrs.sticky"
            ng-true-value="1"
            ng-false-value="0">
        </div>
        <div>
            <label for="notify">Notify :</label>
            <input type="checkbox"
            id="acknowledge-notify"
            ng-model="attrs.notify"
            ng-true-value="1"
            ng-false-value="0">
        </div >
        <div>
            <label for="persistent">Persistent :</label>
            <input type="checkbox"
            id="acknowledge-persistent"
            ng-model="attrs.persistent"
            ng-true-value="1"
            ng-false-value="0">
        </div>
        <div>
            <label for="comment">Comment :</label>
            <input type="message-text" id="acknowledge-comment" ng-model="attrs.comment">
        </div>
        <div>
            <button type="button" ng-click="switchAcknowledgeFormShown()">Close</button>
            <button type="button" ng-click="acknowledgeProblems()">Send</button>
        </div>
    </form>
</div>
