//----------------------------------*\
// COLOR SCHEMES
//----------------------------------*/

// Light Scheme
//----------------------------------*/
.color-scheme--light {
    // Light scheme is not ready for now.
}

// Dark Scheme
//----------------------------------*/
.color-scheme--dark {    
    %colorTxtCurrent {
        color:$_color_dark_delta;
    }

    %colorHightContrast {
        color:$_color_omega;
    }

    // For panel and the sidebar
    %colorBkgPanel {
        background:$_color_dark_alpha;
    }

    %colorLink {
        color:$_color_dark_delta;

        &:hover {
            color:white;
        }
    }

    %colorBorderThin {
        border-color:$_color_dark_alpha;
    }

    %colorBkgTopbar {
        background:$_color_dark_beta;
    }
    
    %colorBkgTopbarPanel {
        background:$_color_dark_alpha;
    }

    %colorBkgTopbarButton {
        background:$_color_dark_beta;        
    }
}
