//----------------------------------*\
// APP DEFAULT VALUES + NORMALIZE
//----------------------------------*/

::selection{
    background:#333;
    color:#fff;
    text-shadow:none;
}

::-moz-selection{
    background:#333;
    color:#fff;
    text-shadow:none;
}

::-webkit-selection{
    background:#333;
    color:#fff;
    text-shadow:none;
}

html,
body {
    height:100%;
    min-height:100%;
}

html {
    font-size:em($_base_font_size);
    font-family:$_font_family_alpha;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body {
    &.color-scheme--dark {
        background:$_color_dark_gamma;
        color:$_color_dark_delta;
    }

    &.color-scheme--light {
        background:$_color_light_gamma;
        color:$_color_light_delta;
    }

    font-size:inherit;
    line-height:inherit;
    margin:0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {display:block;}

audio,
canvas,
video {display:inline-block;}

audio:not([controls]) {
    display:none;
    height:0;
}

[hidden],
template {display:none;}

a {
    @extend %colorLink;
    background:transparent;
}

a:focus {outline:thin dotted;}

a:active,
a:hover {outline:0;}

abbr[title] {border-bottom:1px dotted;}

b,
strong {font-weight:700;}

dfn {font-style:italic;}

hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
}

mark {
    background:#ff0;
    color:#000;
}

code,
kbd,
pre,
samp {
    font-family:monospace, serif;
    font-size:1em;
}

pre {white-space:pre-wrap;}

q {quotes:"\201C" "\201D" "\2018" "\2019";}

small {font-size:em(10, $_base_font_size);}

sub,
sup {
    font-size:1em;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

sup {top:-0.15em;}

sub {bottom:-0.25em;}

img {border:0;}

svg:not(:root) {overflow:hidden;}

figure {margin:0;}

fieldset {
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}

legend {
    border:0;
    padding:0;
}

button,
input,
select,
textarea {
    @extend %colorTxtCurrent;
    font-family:inherit;
    font-size:100%;
    margin:0;
}

button,
input {line-height:normal;}

button,
select {text-transform:none;}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer;
}

button[disabled],
html input[disabled] {cursor:default;}

input[type="checkbox"],
input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}

input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border:0;
    padding:0;
}

textarea {
    overflow:auto;
    vertical-align:top;
}

table {
    border-collapse:collapse;
    border-spacing:0;
	//display:block;
    //overflow-x:auto;

    //@include medium-and-up-screen {
	  //  display:table;
       // overflow-x:visible;        
    //}
}

td,
th {text-align:left;}

thead {
    th {padding:0 0 $_space_narrow;}
}

tbody {
    td,
    th {padding:$_space_narrow 0;}
}

menu,
nav {
    margin:0;
    padding:0;

    a {text-decoration:none;}

    ol,
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }

    li {margin:0;}
}