//----------------------------------*\
// LAYOUT MODULE
//----------------------------------*/
.layout {
    display:table;
    min-height:100%;
    width:100%;
}

.layout__container {
    display:table-row;
    min-height:100%;
}

.layout__main {
    display:table-cell;
    vertical-align:top;
    width:100%;
}

.layout__aside {
    display:block;
    left:0;
    min-height:100%;
    min-width:320px;
    position:absolute;
    top:0;
    vertical-align:top;
    width:320px;
    z-index:9999999;

    &.collapse {
        display:none;
        visibility:hidden;

        &.in {
            display:block;
            visibility:visible;
        }
    }

    @include large-xlarge-screen {
        display:table-cell;
        min-width:250px;
        position:relative;
        width:250px;

        &.collapse.in {
            display:table-cell;
        }
    }
}

.layout__full {width:100%;}

.layout__half {width:50%;}

.layout__third {width:33.333333333%;}

.layout__quarter {width:25%;}
