.centered {
    position: fixed;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%);
}

.bansho-title {
    color: #ddd;
    font-size: 300%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.form-group {
    padding-top: 5px;
    padding-bottom: 15px;
}

.form-control {
    width: 500px;
}

.field {
    float: right;
    width: 400px;
}

.label {
    width: 85px;
    padding-right: 15px;
}

// angular material component


md-checkbox .md-icon {
    border-color: $_color_dark_delta;
    border-width: 1px !important;
}

md-checkbox.md-checked .md-icon {
    .color-scheme--dark & {
        background-color:$_color_omega;
        color: $_color_alpha;
    }

    .color-scheme--light & {
        background-color:$_color_light_beta;
        color: $_color_omega;
    }
}

md-checkbox.md-checked .md-icon:after {
     .color-scheme--dark & {
        border-color: $_color_alpha;
    }

    .color-scheme--light & {
        border-color: $_color_alpha;
    }
}


// host/service status page

.data-table thead th:first-child + th {
  padding-left: 15px;
}

.subcomponent__live {

    .color-scheme--dark & {
        background-color:$_color_dark_beta;
    }

    .color-scheme--light & {
        background-color:$_color_light_beta;
    }

    padding: 0px 15px;
    float: left;
    margin: 20px;
}

.subcomponent__live .data-table thead th:first-child {
    border-width: 0 0 0 0px;
}

.subcomponent__live table {
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }

}
.subcomponent__live h2 {
    margin: 15px 0px 20px 0px;
    .color-scheme--dark & {
        color:$_color_omega;
    }

    .color-scheme--light & {
        color:$_color_alpha;
    }
}

.subcomponent__live p {
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }
}

.subcomponent__live label {
    .color-scheme--dark & {
        background-color:$_color_dark_delta;
    }

    .color-scheme--light & {
        background-color:$_color_light_delta;
    }
}

.subcomponent__title {
    width: 94%;
    clear: both;
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }

}

.subcomponent__title h1 {
    font-size: 2em;
    .color-scheme--dark & {
        color:$_color_omega;
    }

    .color-scheme--light & {
        color:$_color_alpha;
    }

}

.subcomponent__title h1 span {
    font-size: 20px;
    .color-scheme--dark & {
        color:$_color_dark_delta;
    }

    .color-scheme--light & {
        color:$_color_light_delta;
    }

}

.subcomponent__title h1 span a {
    text-decoration: none;
}

.subcomponent__small {
    min-height: 190px;
}


.subcomponent__medium {
    min-height: 300px;
}

.subcomponent__live .state--error .data-table__data:before,
.subcomponent__live .state--warning .data-table__data:before,
.subcomponent__live .state--ok .data-table__data:before {
    position: relative;
    left: -10px;
}

bansho-host-services-list .subcomponent__live {
    min-width: 700px;
}



// AngularJS

just-gage tspan {
    font: 500 1em "Roboto", sans-serif !important;
}


// Notifications

div.ui-pnotify {
    .color-scheme--dark & {
        background-color:$_color_dark_alpha;
    }

    .color-scheme--light & {
        background-color:$_color_light_alpha;
    }
}

// Login

.login_page {
    text-align: center;
    position: fixed;
    height: 100%;

    .color-scheme--dark & {
        background-color:$_color_dark_alpha;
    }

    .color-scheme--light & {
        background-color:$_color_light_alpha;
    }
}

.login_page .sidebar__applogo {
    width: 70%;
    margin-bottom: 28px;
}

.login_page form#loginForm {
    padding: 20px 25px 5px 25px;
    margin: 25px;
    text-align: left;
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }
}


.login_page form#loginForm  label {
    .color-scheme--dark & {
        color:$_color_omega;
    }
    .color-scheme--light & {
        color:$_color_dark_alpha;
    }
}

.login_page form#loginForm input {
    float: inherit;
    width: 500px;
    border: none;
    padding: 0.8em;
    margin: 10px 0px 0px 0px;
    outline: 0;
    .color-scheme--dark & {
        background-color:$_color_dark_beta;
        color:$_color_omega;
    }
    .color-scheme--light & {
        background-color:$_color_light_beta;
        color:$_color_dark_alpha;
    }
}


.login_page form#loginForm .md-raised {
    .color-scheme--dark & {
        background-color:$_color_dark_alpha;
        color:$_color_omega;
    }
    .color-scheme--light & {
        background-color:$_color_light_alpha;
        color:$_color_dark_alpha;
    }
}
.login_page form#loginForm .md-button {
    margin-right: 0px;
}


.login_page form#loginForm #submitButton {
    padding-top: 10px;
    text-align: right;
}

// Action bar

input#filter__search {
    border: none;
    width: 100%;
    padding: 0.8em;
    margin: 10px 0px 0px 15px;
    outline: 0;
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
        color:$_color_omega;
    }
    .color-scheme--light & {
        background-color:$_color_light_gamma;
        color:$_color_dark_alpha;
    }

    input#filter__search::-webkit-input-placeholder {
        font-style: italic;
    }
    input#filter__search::-ms-input-placeholder {
        font-style: italic;
    }
    input#filter__searchield::-moz-placeholder {
        font-style: italic;
    }
}

// Table

thead.moving-thead {
    position: fixed;
    top: 0;
    display: none;
    z-index: 988889;
}
