.centered {
    position: fixed;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%);
}

.bansho-title {
    color: #ddd;
    font-size: 300%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.form-group {
    padding-top: 5px;
    padding-bottom: 15px;
}

.form-control {
    width: 500px;
}

.field {
    float: right;
    width: 400px;
}

.label {
    width: 85px;
    padding-right: 15px;
}

// angular material component


md-checkbox .md-icon {
    border-color: $_color_dark_delta;
    border-width: 1px !important;
}

md-checkbox.md-checked .md-icon {
    .color-scheme--dark & {
        background-color:$_color_omega;
        color: $_color_alpha;
    }

    .color-scheme--light & {
        background-color:$_color_light_beta;
        color: $_color_omega;
    }
}

md-checkbox.md-checked .md-icon:after {
     .color-scheme--dark & {
        border-color: $_color_alpha;
    }

    .color-scheme--light & {
        border-color: $_color_alpha;
    }
}


// host/service status page



.subcomponent__live {

    .color-scheme--dark & {
        background-color:$_color_dark_beta;
    }

    .color-scheme--light & {
        background-color:$_color_light_beta;
    }

    float: left;

   .size-scheme--small & {
        padding: 0px 5px;
        margin: 5px;
    }
    .size-scheme--normal & {
        padding: 0px 10px;
        margin: 10px;
    }
    .size-scheme--big & {
        padding: 0px 15px;
        margin: 20px;
    }

}

.subcomponent__live .data-table thead th:first-child {
    border-width: 0 0 0 0px;
}

.subcomponent__live .data-table tbody td {
    .size-scheme--small & {
        line-height: 30px;
    }
    .size-scheme--normal & {
        line-height: 35px;
    }
    .size-scheme--big & {
        line-height: 40px;
    }
}

.subcomponent__live table {
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }
}

.subcomponent__live h2 {

    .size-scheme--small & {
        margin: 5px 0px 10px 0px;
    }
    .size-scheme--normal & {
        margin: 10px 0px 15px 0px;
    }
    .size-scheme--big & {
        margin: 15px 0px 20px 0px;
    }
          

    .color-scheme--dark & {
        color:$_color_omega;
    }

    .color-scheme--light & {
        color:$_color_alpha;
    }
}

.subcomponent__live p {
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }
}

.subcomponent__live label {
    .color-scheme--dark & {
        background-color:$_color_dark_delta;
    }

    .color-scheme--light & {
        background-color:$_color_light_delta;
    }
}

.subcomponent__title {
    width: 94%;
    clear: both;
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }

}

.subcomponent__title h1 {
    font-size: 2em;
    .color-scheme--dark & {
        color:$_color_omega;
    }

    .color-scheme--light & {
        color:$_color_alpha;
    }
    .size-scheme--small & {
        margin: 0px 0px;
    }
    .size-scheme--normal & { 
        margin: 5px 0px;
    } 
    .size-scheme--big & {
        margin: 10px 0px;
    }
}

.subcomponent__title h1 span {
    font-size: 20px;
    .color-scheme--dark & {
        color:$_color_dark_delta;
    }

    .color-scheme--light & {
        color:$_color_light_delta;
    }

}

.subcomponent__title h1 span a {
    text-decoration: none;
}

.subcomponent__small {
    .size-scheme--small & {
        min-height: 130px;
    }
    .size-scheme--normal & { 
        min-height: 150px;
    } 
    .size-scheme--big & {
        min-height: 190px;
    }
}


.subcomponent__medium {
    min-height: 300px;
}

.subcomponent__live .state--error .data-table__data:before,
.subcomponent__live .state--warning .data-table__data:before,
.subcomponent__live .state--ok .data-table__data:before {
    position: relative;
    left: -10px;
    .size-scheme--small & {
        height: 22px;
    }
    .size-scheme--normal & {
        height: 22px;
    }
    .size-scheme--big & {
        height: 25px;
    }
}

bansho-host-services-list .subcomponent__live {
    min-width: 700px;
}



// AngularJS

just-gage tspan {
    font: 500 1em "Roboto", sans-serif !important;
}

just-gage div {
    .size-scheme--small & {
        height: 100px;
    }
    .size-scheme--normal & {
        height: 125px;
    }
    .size-scheme--big & {
        height: 150px;
    }

}


// Notifications

div.ui-pnotify {
    .color-scheme--dark & {
        background-color:$_color_dark_alpha;
    }

    .color-scheme--light & {
        background-color:$_color_light_alpha;
    }
}

// Login

.login_page {
    text-align: center;
    position: fixed;
    height: 100%;

    .color-scheme--dark & {
        background-color:$_color_dark_alpha;
    }

    .color-scheme--light & {
        background-color:$_color_light_alpha;
    }
}

.login_page .sidebar__applogo {
    width: 70%;
    margin-bottom: 28px;
}

.login_page form#loginForm {
    padding: 20px 25px 5px 25px;
    margin: 25px;
    text-align: left;
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
    }

    .color-scheme--light & {
        background-color:$_color_light_gamma;
    }
}


.login_page form#loginForm  label {
    float: left;
    width: 25%;
    padding: 0.8em 0em;
    margin: 10px 0px 0px 0px;

    .color-scheme--dark & {
        color:$_color_omega;
    }
    .color-scheme--light & {
        color:$_color_dark_alpha;
    }
}

.login_page form#loginForm input {
    float: right;
    width: 65%;
    border: none;
    padding: 0.8em;
    margin: 10px 0px 0px 0px;
    outline: 0;
    .color-scheme--dark & {
        background-color:$_color_dark_beta;
        color:$_color_omega;
    }
    .color-scheme--light & {
        background-color:$_color_light_beta;
        color:$_color_dark_alpha;
    }
}

.login_page form#loginForm div.form-group {
    clear: both;
    height: 40px;
}

.login_page form#loginForm .md-raised {
    .color-scheme--dark & {
        background-color:$_color_dark_alpha;
        color:$_color_omega;
    }
    .color-scheme--light & {
        background-color:$_color_light_alpha;
        color:$_color_dark_alpha;
    }
}
.login_page form#loginForm .md-button {
    margin-right: 0px;
}

.login_page form#loginForm #submitButton {
    padding-top: 10px;
    text-align: right;
}

// Action bar

bansho-table-actionbar menu {
    z-index: 988889;
}

.filters__item input#filter__search {
    border: none;
    width: 100%;
    padding-left: 0.8em;
    outline: 0;
    .color-scheme--dark & {
        background-color:$_color_dark_gamma;
        color:$_color_omega;
    }
    .color-scheme--light & {
        background-color:$_color_light_gamma;
        color:$_color_dark_alpha;
    }

    input#filter__search::-webkit-input-placeholder {
        font-style: italic;
    }
    input#filter__search::-ms-input-placeholder {
        font-style: italic;
    }
    input#filter__searchield::-moz-placeholder {
        font-style: italic;
    }
}

// Table

thead.moving-thead {
    position: fixed;
    top: 0;
    display: none;
    z-index: 988889;
}


// Theme size
.data-table tbody td,
.data-table tbody td:first-child + td,
.data-table thead th:first-child + th {
    .size-scheme--small & {
        padding: 0px 5px 0px 5px;
    }
    .size-scheme--normal & {
        padding: 5px 5px 5px 15px;
    }
    .size-scheme--big & {
        padding: 15px;
    }
}

.data-table thead th {
    .size-scheme--small & {
        padding: 3px 5px 3px 5px;
    }
    .size-scheme--normal & {
        padding: 5px 5px 5px 15px;
    }
    .size-scheme--big & {
        padding: 15px;
    }
}

.data-table thead th:first-child,
.data-table tbody td:first-child {
    .size-scheme--small & {
        padding: 0px 5px 0px 5px;
    }
    .size-scheme--normal & {
        padding-left: 5px;
    }
    .size-scheme--big & {
        padding-left: 15px;
    }
}


.data-table md-checkbox {
    .size-scheme--small & {
        line-height: 0px;
    }
    .size-scheme--normal & {
        line-height: 5px;
    }
    .size-scheme--big & {
        line-height: 15px;
    }
}

.filters__button {
    .size-scheme--small & {
        min-height: 34px;
    }
    .size-scheme--normal & {
        min-height: 45px;
    }
    .size-scheme--big & {
        min-height: 56px;
    }
}

.filters__item input#filter__search {
    .size-scheme--small & {
          min-height: 34px - 2px;
      }
      .size-scheme--normal & {
          min-height: 45px - 2px;
      }
      .size-scheme--big & {
          min-height: 56px - 2px;
      }
}

bansho-actionbar-acknowledge button.filters__button,
bansho-actionbar-recheck button.filters__button,
bansho-actionbar-downtime button.filters__button {
    padding: 0px;
    .size-scheme--small & {
        min-width: 34px;
    }
    .size-scheme--normal & {
        min-width: 45px;
    }
    .size-scheme--big & {
        min-width: 56px;
    }
}

.tab-content {
    .size-scheme--small & {
        padding: 5px 0 10px;
    }
    .size-scheme--normal & {
        padding: 10px 0 15px;
    }
    .size-scheme--big & {
        padding: 30px 0 15px;
    }

}

.main__content {
    .size-scheme--small & {
        padding: 5px;
    }
    .size-scheme--normal & {
        padding: 10px;
    }
    .size-scheme--big & {
        padding: 15px;
    }

}




