<form name="loginForm"
      ng-controller="LoginController"
      ng-submit="login(credentials)" novalidate>

  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.auth.passwordCredentials.username">

  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.auth.passwordCredentials.password">

  <label for="tenantName">Tenant Name:</label>
  <input type="text" id="tenant-name"
         ng-model="credentials.auth.tenantName">

  <button type="submit">Login</button>

</form>
