<div class="login_page layout__main">
  <div class="centered panes__pane">
    <br>
    <br>
    <img class="sidebar__applogo" data-ng-src="assets/images/surveil-{{themeColor}}-horizontal.svg" alt="surveil logo">

    <br>
    <form name="loginForm" id="loginForm"
        data-ng-controller="LoginController"
        data-ng-submit="login(credentials)">

        <div class="form-group">
            <label for="username" class="label">Username:</label>
            <input type="text" id="username"  class="form-control field"
                    placeholder="Enter your username..."
                    data-ng-model="credentials.auth.passwordCredentials.username">
        </div>


        <div class="form-group">
            <label for="password" class="label">Password:</label>
            <input type="password" class="form-control field" id="password"
                    placeholder="Enter your password..."
                    data-ng-model="credentials.auth.passwordCredentials.password">
        </div>

        <div class="form-group">
            <label for="tenant-name" class="label">Tenant Name:</label>
            <input type="text" id="tenant-name" class="form-control field"
                    placeholder="Enter your tenant name..."
                    data-ng-model="credentials.auth.tenantName">
        </div>

        <div class="form-group" id="submitButton" >
            <button type="submit" class="md-button md-raised">Log in</button>
        </div>
    </form>
  </div>
</div>
