<div ng-hide="services.length === 0" class="subcomponent__live">
  <h2>Services</h2>
  <table class="data-table">
    <thead>
      <tr>
        <th>Service description</th>
        <th>Acknowledged</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in host.services">
         <td><a href="#/view?view=service&host_name={{service.host_name}}&description={{service.service_description}}">{{service.service_description}}</a>
         <td>{{service.acknowledged}}</td>
         <td><bansho-service-state-icon state="service.state"></bansho-service-state-icon>{{service.state}}</td>
     </tr>
    </tbody>
  </table>
</div>
