.tile__main {
    background: $_color_dark_beta none repeat scroll 0 0;
    //border: 1px solid;
    float: left;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 400px;
}

.tile__main label {
    color: #FFFFFF;
    width: 100%;
}

.tile__score-critical {
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.tile__score-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
}

.drupal-warn {
  background-color: $_color_warning;
}

.drupal-ok {
  background-color: $_color_ok;
}

.drupal-critical {
  background-color: $_color_error;
}

.drupal__dashboard__title {
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 0 15px;
  color: #FFFFFF;
}
