<article data-ng-controller="DashboardCtrl" id="tactical">
  <header class="main__overview">
    <h2 class="main__overview__title">{{dashboardTactical[0].title}}</h2>

    <div data-bansho-tactical
         data-status-overview="{{dashboardTactical[0].statusOverview}}"
         data-current-health="{{dashboardTactical[0].currentHealth}}"
         data-top-alert-producers="{{dashboardTactical[0].topAlertProducers}}"
         data-refresh-interval="{{dashboardRefreshInterval}}"></div>

  </header>

  <section class="main__content tabpanel">
    <nav>
      <ul class="tablist clearfix">
        <li role="presentation" class="tablist__item active">
          <a href="#openProblems"
             class="tabpanel__tab"
             aria-controls="openProblems"
             aria-expanded="true"
             role="tab"
             data-toggle="tab"
             data-problems="{{totalOpenProblems}}">Open problems
          </a>
        </li>
        <li role="presentation" class="tablist__item">
          <a href="#allProblems"
             class="tabpanel__tab"
             aria-controls="allProblems"
             aria-expanded="false"
             role="tab"
             data-toggle="tab"
             data-problems="{{totalProblems}}">All problems
          </a>
        </li>
      </ul>
    </nav>

    <span data-bansho-table-actionbar></span>

    <div class="tab-content">
      <div role="tabpanel" class="problems tab-pane active" id="openProblems">
        <span data-ng-hide="nbHostOpenProblems == 0">
          <header class="main__content__header clearfix">
            <h2 class="main__content__title">{{dashboardTables[0].title}}</h2>
            <p class="main__content__alert state--error">
              There
              <data-ng-pluralize count="nbHostOpenProblems" when="{'0':'is', '1': 'is', 'other': 'are'}">
              </data-ng-pluralize>
              are {{nbHostOpenProblems}} host
              <data-ng-pluralize count="nbHostOpenProblems" when="{'0':'problem', '1': 'problem', 'other': 'problems'}">
              </data-ng-pluralize>
            </p>
          </header>

          <div data-bansho-table
            data-cells-text="{{dashboardTables[0].CellsText}}"
            data-cells-name="{{dashboardTables[0].CellsName}}"
            data-input-source="{{dashboardTables[0].InputSource}}"
            data-filters="{{dashboardTables[0].Filters}}"
            data-is-wrappable="{{dashboardTables[0].IsWrappable}}"
            data-no-repeat-cell="{{dashboardTables[0].NoRepeatCell}}"
            data-check-column="{{dashboardTables[0].CheckColumn}}"
            data-refresh-interval="{{dashboardRefreshInterval}}"
            data-additionnal-query-fields="{{dashboardTables[0].additionnalQueryFields}}"
            data-table-id="0">
          </div>

        </span>

        <span data-ng-hide="nbServiceOpenProblems == 0">
          <header class="main__content__header clearfix">
            <h2 class="main__content__title">{{dashboardTables[1].title}}</h2>
            <p class="main__content__alert state--error">
              There
              <data-ng-pluralize count="nbServiceOpenProblems" when="{'0':'is', '1': 'is', 'other': 'are'}">
              </data-ng-pluralize>
              {{nbServiceOpenProblems}} service
              <data-ng-pluralize count="nbServiceOpenProblems" when="{'0':'problem', '1': 'problem', 'other': 'problems'}"/>
              </data-ng-pluralize>
            </p>
          </header>

          <div data-bansho-table
            data-cells-text="{{dashboardTables[1].CellsText}}"
            data-cells-name="{{dashboardTables[1].CellsName}}"
            data-input-source="{{dashboardTables[1].InputSource}}"
            data-filters="{{dashboardTables[1].Filters}}"
            data-is-wrappable="{{dashboardTables[1].IsWrappable}}"
            data-no-repeat-cell="{{dashboardTables[1].NoRepeatCell}}"
            data-check-column="{{dashboardTables[1].CheckColumn}}"
            data-refresh-interval="{{dashboardRefreshInterval}}"
            data-additionnal-query-fields="{{dashboardTables[1].additionnalQueryFields}}"
            data-table-id="1">
          </div>

        </span>
      </div>

      <div role="tabpanel" class="problems tab-pane" id="allProblems">
        <span data-ng-hide="nbHostProblems == 0">
          <header class="main__content__header clearfix">
            <h2 class="main__content__title">{{dashboardTables[2].title}}</h2>
            <p class="main__content__alert state--error">
              There
              <data-ng-pluralize count="nbHostProblems" when="{'0':'is', '1': 'is', 'other': 'are'}"/>
              </data-ng-pluralize>
              {{nbHostProblems}} host
              <data-ng-pluralize count="nbHostProblems" when="{'0':'problem', '1': 'problem', 'other': 'problems'}"/>
              </data-ng-pluralize>
            </p>
          </header>

          <div data-bansho-table
            data-cells-text="{{dashboardTables[2].CellsText}}"
            data-cells-name="{{dashboardTables[2].CellsName}}"
            data-input-source="{{dashboardTables[2].InputSource}}"
            data-filters="{{dashboardTables[2].Filters}}"
            data-is-wrappable="{{dashboardTables[2].IsWrappable}}"
            data-no-repeat-cell="{{dashboardTables[2].NoRepeatCell}}"
            data-check-column="{{dashboardTables[2].CheckColumn}}"
            data-refresh-interval="{{dashboardRefreshInterval}}"
            data-table-id="2">
          </div>
        </span>

        <span data-ng-hide="nbServiceProblems == 0">
          <header class="main__content__header clearfix">
            <h2 class="main__content__title">{{dashboardTables[3].title}}</h2>
            <p class="main__content__alert state--error">
              There
              <data-ng-pluralize count="nbServiceProblems" when="{'0':'is', '1': 'is', 'other': 'are'}"/>
              </data-ng-pluralize>
              {{nbServiceProblems}} service
              <data-ng-pluralize count="nbServiceProblems" when="{'0':'problem', '1': 'problem', 'other': 'problems'}"/>
              </data-ng-pluralize>
            </p>
          </header>

          <div data-bansho-table
            data-cells-text="{{dashboardTables[3].CellsText}}"
            data-cells-name="{{dashboardTables[3].CellsName}}"
            data-input-source="{{dashboardTables[3].InputSource}}"
            data-filters="{{dashboardTables[3].Filters}}"
            data-is-wrappable="{{dashboardTables[3].IsWrappable}}"
            data-no-repeat-cell="{{dashboardTables[3].NoRepeatCell}}"
            data-check-column="{{dashboardTables[3].CheckColumn}}"
            data-refresh-interval="{{dashboardRefreshInterval}}"
            data-table-id="3"></div>
       </span>
      </div>
    </div>

  </section>
</article>
