<div ng-app="adagios.sidebar" class="sidebar" ng-controller="SideBarCtrl">
  <button class="sidebar__close">
    <span class="visuallyhidden">Close the sidebar</span>
    <i class="ico-cancel"></i>
  </button>
 
  <header class="sidebar__header">
    <h1 class="sidebar__appname">ADAGIOS</h1>
    <time class="sidebar__date" datetime="2014-11-24 16:04">24 nov. 16:04</time>
  </header>
  
  <nav class="sidebar__nav" role="navigation">
    <ul class="sidebar__list" id="sidebarList">
      <li class="sidebar__item">
        <span class="sidebar__category">Shortcut</span>
        
        <ul class="sidebar__sublist" id="shortcutList">
          <li class="sidebar__subitem"><a ng-class="getClass('/dashboard?view=dashboardConfig')" href="#/dashboard?view=dashboardConfig">Dashboard</a></li>
          <li class="sidebar__subitem"><a ng-class="getClass('/singleTable?view=hostsConfig')" href="#/singleTable?view=hostsConfig">Hosts</a></li>
          <li class="sidebar__subitem"><a ng-class="getClass('/singleTable?view=servicesConfig')" href="#/singleTable?view=servicesConfig">Services</a></li>
          <li class="sidebar__subitem"><a href="#">Networks parents</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <span class="sidebar__category">Reports</span>
        
        <ul class="sidebar__sublist" id="reportsList">
          <li class="sidebar__subitem"><a href="#">State History</a></li>
          <li class="sidebar__subitem"><a href="#">Log</a></li>
          <li class="sidebar__subitem"><a href="#">Comments</a></li>
          <li class="sidebar__subitem"><a href="#">Downtimes</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <span class="sidebar__category">Groups</span>
        
        <ul class="sidebar__sublist" id="groupsList">
          <li class="sidebar__subitem"><a href="#">Hostgroups</a></li>
          <li class="sidebar__subitem"><a href="#">Servicegroups</a></li>
          <li class="sidebar__subitem"><a href="#">Contactgroups</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <span class="sidebar__category">Other</span>
        
        <ul class="sidebar__sublist" id="otherList">
          <li class="sidebar__subitem"><a href="#">Grafana</a></li>
          <li class="sidebar__subitem"><a href="#">Nagvis</a></li>
        </ul>
      </li>            
    </ul>
  </nav>

  <footer class="sidebar__profile">
    <a class="sidebar__profile__toggle" href="#profile">
      <span class="sidebar__profile__name">Jean-Michel <br>Vasquez-Peruz</span>
    </a>
  </footer>
</div>
