<div class="sidebar" ng-controller="SideBarCtrl">
  <button class="sidebar__close">
    <span class="visuallyhidden">Close the sidebar</span>
    <i class="ico-cancel"></i>
  </button>
 
  <header class="sidebar__header">
    <h1 class="sidebar__appname">BANSHO</h1>
    <time class="sidebar__date" datetime="2014-11-24 16:04">24 nov. 16:04</time>
  </header>
  
  <nav class="sidebar__nav" role="navigation">
    <ul class="sidebar__list" id="sidebarList">
      <li class="sidebar__item">
        <button class="sidebar__category"
                data-toggle="collapse"
                data-target="#shortcutList"
                aria-expanded="true"
                aria-controls="shortcutList">Shortcut</button>
        <button class="sidebar__customize ico-cog">
          <span class="visuallyhidden">Customize the shortcut category</span>
        </button>
        
        <ul class="sidebar__sublist collapse in" id="shortcutList">
          <li class="sidebar__subitem"><a ng-class="getClass('/view?view=dashboardConfig')" href="#/view?view=dashboardConfig">Dashboard</a></li>
          <li class="sidebar__subitem"><a ng-class="getClass('/view?view=hostsConfig')" href="#/view?view=hostsConfig">Hosts</a></li>
          <li class="sidebar__subitem"><a ng-class="getClass('/view?view=servicesConfig')" href="#/view?view=servicesConfig">Services</a></li>
          <li class="sidebar__subitem"><a href="#">Networks parents</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <button class="sidebar__category"
                data-toggle="collapse"
                data-target="#reportsList"
                aria-expanded="true"
                aria-controls="reportsList">Reports</button>
        <button class="sidebar__customize ico-cog">
          <span class="visuallyhidden">Customize the reports category</span>
        </button>
        
        <ul class="sidebar__sublist collapse in" id="reportsList">
          <li class="sidebar__subitem"><a href="#">State History</a></li>
          <li class="sidebar__subitem"><a href="#">Log</a></li>
          <li class="sidebar__subitem"><a href="#">Comments</a></li>
          <li class="sidebar__subitem"><a href="#">Downtimes</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <button class="sidebar__category"
                data-toggle="collapse"
                data-target="#groupsList"
                aria-expanded="true"
                aria-controls="groupsList">Groups</button>
        <button class="sidebar__customize ico-cog">
          <span class="visuallyhidden">Customize the groups category</span>
        </button>
        
        <ul class="sidebar__sublist collapse in" id="groupsList">
          <li class="sidebar__subitem"><a href="#">Hostgroups</a></li>
          <li class="sidebar__subitem"><a href="#">Servicegroups</a></li>
          <li class="sidebar__subitem"><a href="#">Contactgroups</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <button class="sidebar__category"
                data-toggle="collapse"
                data-target="#otherList"
                aria-expanded="true"
                aria-controls="otherList">Other</button>
        <button class="sidebar__customize ico-cog">
          <span class="visuallyhidden">Customize other category</span>
        </button>
        
        <ul class="sidebar__sublist collapse in" id="otherList">
          <li class="sidebar__subitem"><a href="#">Grafana</a></li>
          <li class="sidebar__subitem"><a href="#">Nagvis</a></li>
        </ul>
      </li>            
    </ul>
  </nav>

  <footer class="sidebar__profile">
    <a class="sidebar__profile__toggle" href="#profile">
      <span class="sidebar__profile__name">Jean-Michel <br>Vasquez-Peruz</span>
    </a>
  </footer>
</div>
