<div nv-app="adagios.sidebar" class="nav-side-menu" ng-controller="SideBarCtrl">
  <div class="brand">ADAGIOS</div>
  <div class="menu-list">
    
    <ul id="menu-content" class="menu-content out">      
      <li class="menu-title">
        <a href="#"> Shortcut <span class="arrow"></span></a>
        <ul class="sub-menu" id="shortcut">
          <li><a href="#/dashboard">Dashboard</a></li>
          <li><a href="#/hosts">Hosts</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Networks parents</a></li>
        </ul>
      </li>      
      
      
      <li class="menu-title">
        <a href="#"> Reports <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu" id="reports">
        <li><a href="#">State History</a></li>
        <li><a href="#">Log</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Downtimes</a></li>
      </ul>
      
      
      <li class="menu-title">
        <a href="#"> Groups <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu" id="groups">
        <li><a href="#">Hostgroups</a></li>
        <li><a href="#">Servicegroups</a></li>
        <li><a href="#">Contactgroups</a></li>
      </ul>
      
      
      <li class="menu-title">
        <a href="#"> Other <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu" id="other">
        <li><a href="#">Grafana</a></li>
        <li><a href="#">Nagvis</a></li>
      </ul>
      
      
      
      <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li>
      
    </ul>
  </div>
</div>
