<div>
  <table class="data-table">
    <thead data-ng-repeat="head in ['moving-thead', 'static-thead']" data-ng-class="head">
    <tr>
      <th data-ng-show="checkColumn" class="data-table__checkbox">
        <md-checkbox type="checkbox" aria-label='Check all' data-ng-checked="isCheckAll" data-ng-click="onClick()"></md-checkbox>
      </th>
      <th ng-repeat="column in columns" class="data-table__{{column.attributes.class}}">
        {{column.title}} <i class="ico-up-dir"></i>
      </th>
    </tr>
    </thead>
    <tbody data-ng-repeat="(groupByKey, groupByItems) in entries | groupBy:'host_host_name'">
    <tr data-ng-repeat="entry in groupByItems | noRepeat:this | wrappableStyle:this">
      <td data-ng-show="checkColumn">
        <md-checkbox aria-label='Check' data-ng-model="entry.is_checked" data-ng-change="entryOnClick(entry.is_checked)"></md-checkbox>
      </td>
      <td data-ng-repeat="cell in columns"
          data-ng-click="createUrl(entry, cell.attributes)">
        <bansho-cell type="{{cell.type}}" attributes="{{cell.attributes}}"></bansho-cell>
      </td>
    </tr>
    </tbody>
  </table>
  <bansho-pagingbar data-ng-if="pagingbar" options="options"></bansho-pagingbar>
</div>
