<article data-ng-controller="SingleTableCtrl" id="tactical">

  <section class="main__content tabpanel">

    <div class="tab-content">
      <div role="tabpanel" class="problems tab-pane active" id="openProblems">
        <header class="main__content__header clearfix">
          <h2 class="main__content__title">{{singleTableTitle}}</h2>
        </header>
      </div>
    </div>

    <div data-bansho-table-actionbar data-ng-if="tableConfig.ContainsActionBar"></div>

    <div data-bansho-table
         data-cells-name="{{tableConfig.CellsName}}"
         data-cells-text="{{tableConfig.CellsText}}"
         data-input-source="{{tableConfig.InputSource}}"
         data-filters="{{tableConfig.Filters}}"
         data-is-wrappable="{{tableConfig.IsWrappable}}"
         data-no-repeat-cell="{{tableConfig.NoRepeatCell}}"
         data-refresh-interval="{{singleTableRefreshInterval}}"
         data-table-id="0"></div>

  </section>
</article>
