<article ng-controller="SingleTableCtrl" id="tactical">

  <section class="main__content tabpanel">

    <div class="tab-content">
      <div role="tabpanel" class="problems tab-pane active" id="openProblems">
        <header class="main__content__header clearfix">
          <h2 class="main__content__title">{{singleTableTitle}}</h2>
        </header>
      </div>
    </div>

    <bansho-table-actionbar-events data-ng-if="true" data-table-id="0" ></bansho-table-actionbar-events>
      <h1>test</h1>
    <bansho-table-actionbar data-ng-if="true" data-table-id="0" ></bansho-table-actionbar>
      <h1>test</h1>
<!--tableConfig.ContainsActionBar"-->
    <bansho-table cells-name="{{tableConfig.CellsName}}"
               cells-text="{{tableConfig.CellsText}}"
               input-source="{{tableConfig.InputSource}}"
               filters="{{tableConfig.Filters}}"
               is-wrappable="{{tableConfig.IsWrappable}}"
               check-column="{{tableConfig.CheckColumn}}"
               no-repeat-cell="{{tableConfig.NoRepeatCell}}"
               header-follow="{{tableConfig.HeaderFollow}}"
               refresh-interval="{{singleTableRefreshInterval}}"
               table-id="0"></bansho-table>

  </section>
</article>
