<article data-ng-controller="DrupalCtrl">
  <h1 class="drupal__dashboard__title">{{drupal_id}}</h1>

  <div data-bansho-drupal-info
    data-host-name="{{hostName}}"
    data-plugin="drupal_status,drupal_jenkins,http_load,selenium"
    data-title="General informations"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_cache"
    data-title="Cache"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_cron"
    data-title="Cron"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_database"
    data-title="Database"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_codebase"
    data-title="Codebase"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_extensions"
    data-title="Extensions"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_logging"
    data-title="Logging"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_security"
    data-title="Security"
    data-warning="70"
    data-critical="40"></div>

  <div data-bansho-drupal-tile
    data-host-name="{{hostName}}"
    data-plugin="drupal_views"
    data-title="Views"
    data-warning="70"
    data-critical="40"></div>

</article>
