<article ng-controller="DrupalCtrl">
  <h1 class="drupal__dashboard__title">{{drupal_id}}</h1>

  <bansho-drupal-info host-name="{{hostName}}"
                      plugin="drupal_status,drupal_jenkins,http_load,selenium"
                      title="General informations"></bansho-drupal-info>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_cache"
                      title="Cache"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_cron"
                      title="Cron"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_database"
                      title="Database"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_codebase"
                      title="Codebase"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_extensions"
                      title="Extensions"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_logging"
                      title="Logging"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_security"
                      title="Security"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

                      <!--
  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_status"
                      title="Status"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_views"
                      title="Views"
                      warning="70"
                      critical="40"></bansho-drupal-tile>
                      -->
</article>
