<article ng-controller="DrupalCtrl">
  <h1 class="drupal__dashboard__title">{{drupal_id}}</h1>
  <div class="tile__main">
    <h1>General informations</h1>
    <table class="data-table">
      <tbody>
        <tr>
          <td>Core version :</td>
          <td>7.37</td>
        </tr>
        <tr>
          <td>Core up-to-date :</td>
          <td>YES</td>
        </tr>
        <tr class="btn-success">
          <td>Vulnerable core :</td>
          <td>NO</td>
        </tr>
        <tr>
          <td>JQuery version:</td>
          <td>2.1.4</td>
        </tr>
        <tr>
          <td>Database :</td>
          <td>MySQL</td>
        </tr>
        <tr>
          <td>Database version :</td>
          <td>5.6.23</td>
        </tr>
        <tr>
          <td>Database state :</td> <td>OK</td>
        </tr>
        <tr>
          <td>Cache activated :</td>
          <td>YES</td>
        </tr>
      </tbody>
    </table>
  </div>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_cache"
                      title="Cache"
                      warning="21"
                      critical="10"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_cron"
                      title="Cron"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_database"
                      title="Database"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_codebase"
                      title="Codebase"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_extensions"
                      title="Extensions"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_logging"
                      title="Logging"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_security"
                      title="Security"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

                      <!--
  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_status"
                      title="Status"
                      warning="70"
                      critical="40"></bansho-drupal-tile>

  <bansho-drupal-tile host-name="{{hostName}}"
                      plugin="drupal_views"
                      title="Views"
                      warning="70"
                      critical="40"></bansho-drupal-tile>
                      -->
</article>
