<h4 id="acknowledgeModalLabel">Acknowlege</h4>
<form data-ng-submit="acknowledgeProblems()">
    <div>
        <label for="acknowledge-author">Author :</label>
        <input type="text" id="acknowledge-author" data-ng-model="attrs.author">
    </div>
    <div>
        <label for="acknowledge-sticky">Sticky :</label>
        <input type="checkbox"
        id="acknowledge-sticky"
        data-ng-model="attrs.sticky"
        data-ng-true-value="1"
        data-ng-false-value="0">
    </div>
    <div>
        <label for="acknowledge-notify">Notify :</label>
        <input type="checkbox"
        id="acknowledge-notify"
        data-ng-model="attrs.notify"
        data-ng-true-value="1"
        data-ng-false-value="0">
    </div >
    <div>
        <label for="acknowledge-persistent">Persistent :</label>
        <input type="checkbox"
        id="acknowledge-persistent"
        data-ng-model="attrs.persistent"
        data-ng-true-value="1"
        data-ng-false-value="0">
    </div>
    <div>
        <label for="acknowledge-comment">Comment :</label>
        <input type="text" id="acknowledge-comment" data-ng-model="attrs.comment">
    </div>
    <div>
        <button type="button" data-ng-click="isShown = !isShown">Close</button>
        <button type="button" data-ng-click="acknowledgeProblems()">Send</button>
    </div>
</form>
