<h4>Downtime</h4>
<form data-ng-submit="sendDowntime()">
    <div>
        <label for="author">Author :</label>
        <input type="text" id="author" data-ng-model="attrs.author">
    </div>
    <div>
        <label for="comment">Comment :</label>
        <input type="text" id="comment" data-ng-model="attrs.comment">
    </div>
    <div>
        <label for="duration">Duration :</label>
        <input type="number" id="duration" data-ng-model="attrs.duration">
    </div>
    <div>
        <label for="start_time">Start time :</label>
        <input type="number" id="start_time" data-ng-model="attrs.start_time">
    </div>
    <div>
        <label for="end_time">End time :</label>
        <input type="number" id="end_time" data-ng-model="attrs.end_time">
    </div>
    <div>
        <button type="button" data-ng-click="isShown = !isShown">Close</button>
        <button type="submit">Send</button>
    </div>
</form>
