<button class="filters__button"
        type="button"
        data-toggle="collapse"
        data-target="#filtersProblems"
        aria-expanded="false"
        aria-controls="filtersProblems">
    <span>{{activeFilter.text}}</span>
    <i class="ico-down-dir"></i>
</button>

<div class="filters__panel collapse" id="filtersProblems">
    <ul class="filters__sublist">
        <li class="filters__subitem" ng-repeat="actionbarFilter in possibleFilters" ng-click="activateFilter($index)">
            <a class="filters__link state--current" ng-if="actionbarFilter === activeFilter">{{actionbarFilter.text}}</a>
            <a class="filters__link" ng-if="actionbarFilter !== activeFilter">{{actionbarFilter.text}}</a>
        </li>
    </ul>
</div>
