<div class="subcomponent__live subcomponent__small">
  <h2>Load</h2>
 <iframe src="/grafana/dashboard-solo/db/new-dashboard?panelId=1&fullscreen&host_name=' + {{host.host_name}} + '&metric=metric_load1&service_description=load&from=now-6h&to=now" width="450" height="200" frameborder="0"></iframe>
  <table class="data-table">
    <tbody>
      <tr>
        <td>State</td>
        <td><bansho-service-state-icon state="host.loadService.state"></bansho-service-state-icon> {{host.loadService.state}}</td>
      </tr>
      <tr>
        <td>Output</td>
        <td>{{host.loadService.plugin_output}}</td>
      </tr>
    </tbody>
  </table>
</div>
