<div data-ng-show="host.loadService" class="subcomponent__live subcomponent__small">
  <h2>Load</h2>
  <iframe src="{{iframeUrl}}" width="450" height="200" frameborder="0"></iframe>
  <table class="data-table">
    <tbody>
      <tr>
        <td>State</td>
        <td>
          <div data-bansho-service-state-icon data-state="host.loadService.state"></div>
          {{host.loadService.state}}
        </td>
      </tr>
      <tr>
        <td>Output</td>
        <td>{{host.loadService.plugin_output}}</td>
      </tr>
    </tbody>
  </table>
</div>
