#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_clean:
    

override_dh_auto_build:
	npm install grunt-cli
	npm install
	node_modules/grunt-cli/bin/grunt production:surveil

override_dh_install:
	dh_install
