//----------------------------------*\
// FUNCTIONS
//----------------------------------*/

// Srtips the units from a value. e.g. 12px -> 12
@function strip-units($val) {
  @return ($val / ($val * 0 + 1));
}

// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
@function em($pxval, $base: 16px) {
  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}