<table ng-app="adagios.tactical.status_overview" ng-controller="TacticalStatusOverViewCtrl" class="table">
  <thead>
    <tr>
      <th>Status overview</th>
      <th>#</th>
      <th>
        <span class="visuallyhidden">Notifications number</span>
        <i class="ico-bell-alt"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Hosts</th>
      <td>{{ hosts.count }}</td>
      <td class="state--error alerts">{{ hosts.problems }}</td>
    </tr>  
    <tr>
      <th>Services</th>
      <td>{{ services.count }}</td>
      <td class="state--error alerts">{{ services.problems }}</td>
    </tr>
  </tbody>
</table>
