<table ng-controller="TacticalStatusOverViewCtrl"
       class="table"
       ng-if="hostProblems != 0 && totalHosts != 0 && serviceProblems != 0 && totalServices != 0">
  <thead>
    <tr>
      <th>Status overview</th>
      <th>#</th>
      <th>
        <span class="visuallyhidden">Notifications number</span>
        <i class="ico-bell-alt"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Hosts</th>
      <td>{{totalHosts}}</td>
      <td class="state--error alerts">{{hostProblems}}</td>
    </tr>  
    <tr>
      <th>Services</th>
      <td>{{totalServices}}</td>
      <td class="state--error alerts">{{serviceProblems}}</td>
    </tr>
  </tbody>
</table>
