<table ng-app="adagios.tactical.status_overview" ng-controller="TacticalStatusOverViewCtrl"  class="table">
  <thead>
    <tr>
      <th>
        Status overview
      </th>
      <th>
          #
      </th>
      <th>
          <i class="fa fa-bell"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          HOSTS
      </td>
      <td>
          {{ hosts.count }}
      </td>
      <td class="alerts">
          {{ hosts.problems }}
      </td>
    </tr>  
    <tr>
      <td>
          SERVICES
      </td>
      <td>
          {{ services.count }}
      </td>
      <td class="alerts">
          {{ services.problems }}
      </td>
    </tr>
  </tbody>
</table>
