<article data-ng-controller="DrupalDashboardViewCtrl">
  <h1 class="drupal__dashboard__title">{{title}}</h1>

  <span data-ng-repeat="(host_name, host_obj) in data">
    <a href="#/view?view=drupal&id={{host_name}}">
      <span class="tile__main">
        <h3>{{host_obj.host_name}}</h3>
        <table class="data-table">
          <tr>
            <td style="text-align:center;">Address</td>
            <td style="text-align:center;">{{host_obj.address}}</td>
          </tr>
          <tr>
            <td style="text-align:center;">Core version</td>
            <td style="text-align:center;">{{host_obj.core_version}}</td>
          </tr>
          <tr>
            <td style="text-align:center;">PHP version</td>
            <td style="text-align:center;">{{host_obj.php_version}}</td>
          </tr>
          <tr data-ng-class="host_obj.security_class">
            <td style="text-align:center;">Security updates</td>
            <td style="text-align:center;">{{host_obj.security}}</td>
          </tr>
        </table>
      </div>
    </a>
  </span>
</article>
