<table ng-controller="TacticalCurrentHealth"
       class="current-health"
       ng-if="hostsRatio != undefined && servicesRatio != undefined">
  <thead>
    <tr>
      <th>Current health</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="layout__half">
        <just-gage id="allservices" class="someClass" min=0 max=100 value=servicesRatio title="ALL SERVICES"></just-gage>
      </td>
      <td class="layout__half">
        <just-gage id="allhosts" class="someClass" min=0 max=100 value=hostsRatio title="ALL HOSTS"></just-gage>
      </td>
    </tr>
  </tbody>
</table>
