<div ng-app="adagios.tactical.current_health" ng-controller="TacticalCurrentHealth" class="row">
  <table>
    <thead>
      <tr>
        <th>
          Current Health
        </th>
      </tr>
    </thead>
  </table>
  <div class="col-md-6">
    <just-gage id="allservices" class="someClass" min=0 max=100 value=services title="ALL SERVICES"></just-gage>
  </div>
  <div class="col-md-6">
    <just-gage id="allhosts" class="someClass" min=0 max=100 value=hosts title="ALL HOSTS"></just-gage>
  </div>
</div>
