<article ng-controller="HostCtrl">
  <section class="main__content tabpanel" ng-if="data.live && data.config">
     host information: {{host}}
     <h1>{{host.config.host_name}}</h1>
     <bansho-host-main host="{{host}}"></bansho-host-main>
     <bansho-host-services-list hostName="{{hostName}}"></bansho-host-services-list>

     <h2>Cpu</h2>
     <bansho-host-cpu></bansho-host-cpu>

     <h2>Load</h2>
     <bansho-host-load></bansho-host-load>

     <h2>Info</h2>
     <bansho-host-info></bansho-host-info>
    </section>
</article>
