<div class="filters" data-ng-controller="TableActionbarCtrl">
    <ul class="filters__list clearfix">
        <li class="filters__item filters__item--problems">
        <button class="filters__button"
            type="button"
            data-toggle="collapse"
            data-target="#filtersProblems"
            aria-expanded="false"
            aria-controls="filtersProblems">
            <span>{{actionbarFilters.activeFilter.text}}</span>
            <i class="ico-down-dir"></i>
        </button>

        <div class="filters__panel collapse" id="filtersProblems">
            <ul class="filters__sublist">
                <li class="filters__subitem" data-ng-repeat="actionbarFilter in actionbarFilters.possibleFilters" data-ng-click="activateFilter($index)">
                <a class="filters__link state--current" data-ng-if="actionbarFilter === actionbarFilters.activeFilter">{{ actionbarFilter.text }}</a>
                <a class="filters__link" data-ng-if="actionbarFilter !== actionbarFilters.activeFilter">{{ actionbarFilter.text }}</a>
                </li>
            </ul>
        </div>
        </li>
        <li class="filters__item filters__item--recheck">
        <div data-bansho-recheck-button></div>
        </li>
        <li class="filters__item filters__item--acknowledge" data-mover="true">
        <button class="filters__button" type="button" data-ng-click="switchAcknowledgeForm()">
            <span class="visuallyhidden">Acknowledge</span>
            <i class="ico-thumbs-up"></i>
        </button>
        </li>
        <li class="filters__item filters__item--downtime" data-mover="true">
        <button class="filters__button" type="button" data-ng-click="switchDowntimeForm()">
            <span class="visuallyhidden">Downtime</span>
            <i class="ico-clock"></i>
        </button>
        </li>
        <li class="filters__item filters__item--more clearfix">
        <button class="filters__button"
            type="button"
            data-toggle="collapse"
            data-target="#filtersMore"
            aria-expanded="false"
            aria-controls="filtersMore">
            <span>More</span>
            <i class="ico-down-dir"></i>
        </button>

        <div class="filters__panel collapse" id="filtersMore">
            <ul class="filters__sublist">
                <li class="filters__subitem">
                <a class="filters__link" href="#">More I</a>
                </li>
                <li class="filters__subitem">
                <a class="filters__link" href="#">More II</a>
                </li>
                <li class="filters__subitem">
                <a class="filters__link" href="#">More III</a>
                </li>
            </ul>
        </div>
        </li>
        <li class="filters__item clearfix">
        <input id="filter__search" type="search" placeholder="Filter hosts, services, ..." data-ng-model="actionbarFilters.searchFilter"/>
        </li>
        <li class="filters__item filters__item--settings">
        <button class="filters__button"
            type="button"
            data-toggle="collapse"
            data-target="#filtersSettings"
            aria-expanded="false"
            aria-controls="filtersSettings">
            <span class="visuallyhidden">Filters Settings</span>
            <i class="ico-cog"></i>
        </button>

        <div class="filters__panel collapse" id="filtersSettings">
            <ul class="filters__sublist">
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
        </li>
    </ul>

    <div data-bansho-acknowledge-form data-ng-show="isAcknowledgeShown" data-is-shown="isAcknowledgeShown" data-selected-hosts="selected"> </div>

    <div data-bansho-downtime-form data-ng-show="isDowntimeShown" data-is-shown="isDowntimeShown" data-selected-hosts="selected"> </div>
</div>
