<table class="data-table" ng-controller="TableCtrl">
  <thead>
      <tr>
        <th class="data-table__checkbox"><input type="checkbox"></th>
        <th ng-repeat="i in cellIndexes" class="data-table__{{cellsName[i]}}">
          {{cellsText[i]}}
          <i class="ico-up-dir"></i>
        </th>
      </tr>
  </thead>

  <tbody class="{{entry.child_class}}" ng-repeat="(group_name, group_members) in entries | groupBy: groupBy">
    <tr data-ng-repeat="entry in group_members | actionbarSelectFilter:actionbarFilters.activeFilter | filter:actionbarFilters.searchFilter | noRepeat:this | wrappableStyle:this">
      <td>dfdfsdfsdfdff {{groupBy}}</td>
      <td><input type="checkbox" ng-model="entry.is_checked"></td>
      <td bansho-cell cell-name="{{cell}}" ng-repeat="cell in cellsName"></td>
    </tr>
  </tbody>
</table>
